{% extends "base.html" %}

{% block content %}
<ul>
    <a href="/allergies/new"><button>New Allergy</button></a>
</ul>
<h2>Allergy List</h2>

    {% for allergy in all_allergy %}
    <h4>{{allergy.name}}</h4>
            <div>
            <form  action="/allergies/{{allergy.id}}/edit" method="post">
                <button class="trash-button">Edit</button>
            </form>
            <form  action="/allergies/{{allergy.id}}/delete" method="post">
                <button class="trash-button">Delete</button>
            </form>
        </div>
<hr width="475;"
    align="left">
{% endfor %}

{% endblock %}