{% extends "base.html" %}

{% block content %}
<ul id="top">
    <a href="/allergies/new">
        <button id="button">New Allergy</button></a>
</ul>
<h2 class="title">Allergies</h2>
    {% for allergy in all_allergy %}
    <h4>{{allergy.name}}</h4>
            <div id="row">
            <form  action="/allergies/{{allergy.id}}/edit" method="post">
                <button id="gbutton">Edit</button>
            </form>
            <form  action="/allergies/{{allergy.id}}/delete" method="post">
                <button id="gbutton">Delete</button>
            </form>
        </div>
<hr width="475;"
    align="left">
{% endfor %}

{% endblock %}