{% extends "base.html" %}
{% block content %}
<section id="new">
  <form action="/employees/{{vet.id}}" method="post">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" value="{{vet.name}}" required autofocus>
    </div>
    <div>
      <label for="contact">Tel. Number: </label>
      <input type="text" id="contact" name="contact" value="{{vet.contact}}" required>
    </div>
    <button type="submit">Update: </button>
  </form>
</section>
{% endblock %}