{% extends "base.html" %}

{% block content %}

<ul id="top">
<a href="/employees/new"><button id="button">Add Employee</button></a>
</ul>
    <h2 class="title">Vet Records:</h2>
        {% for vet in all_vets %}
            <h4>{{vet.name}}</h4>
                <div id="row">
                    <form  action="/employees/{{vet.id}}" method="get">
                        <button id="gbutton">View</button>
                    </form>
                    <form  action="/employees/{{vet.id}}/edit" method="post">
                        <button id="gbutton">Edit</button>
                    </form>
                    <form  action="/employees/{{vet.id}}/delete" method="post">
                        <button id="gbutton">Delete</button>
                    </form>
                </div>  
                <hr width="475;"
                align="left">
        {% endfor %}

{% endblock %}