{% extends "base.html" %}
{% block content %}
<section id="new">
  <form action="/animals/{{animal.id}}" method="post" id="space">
    <div>
      <input type="text" id="name" name="name" value="{{animal.name}}"required autofocus>
    </div>
    <div>
      <input type="text" id="type" name="type" value="{{animal.type}}" required>
    </div>
    <div>
      <input type="text" id="dob" name="dob" value="{{animal.dob}}" required>
    </div>
    <div>
      <select id="owner_id" name="owner_id">
        {% for owner in all_owners %}
          <option value="{{ owner.id }}"
            {% if animal.owner.id== owner.id %} selected="selected"{% endif %}>
            {{ owner.name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div>
      <select id="vet_id" name="vet_id">
        {% for vet in all_vets %}
          <option value="{{ vet.id }}"
            {% if animal.vet.id== vet.id %} selected="selected"{% endif %}>
            {{ vet.name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit">Update</button>
  </form>
</section>
{% endblock %}
