{% extends "base.html" %}

{% block content %}
<ul id="top">
    <a href="/owners/new"><button id="button">Register Owner</button></a>
    <a href="/animals/new"><button id="button">Register Patient</button></a>
</ul>
<h2 class="title">Patient Records</h2>
{% for animal in all_animals %}
    <h4>{{animal.name}}</h4>
        <div id="row">
            <form  action="/animals/{{animal.id}}" method="get">
                <button id="gbutton">View</button>
            </form>
            <form  action="/animals/{{animal.id}}/edit" method="post">
                <button id="gbutton">Edit</button>
            </form>
            <form  action="/animals/{{animal.id}}/delete" method="post">
                <button id="gbutton">Delete</button>
            </form>
            <a href="/medicals"><button id="gbutton">Update Medical Notes</button></a>
            <a href="/allergys"><button id="gbutton">Update Allergy Info</button></a>
        </div>
<hr width="475;"
    align="left">
{% endfor %}

{% endblock %}