{% extends "base.html" %}

{% block content %}
<section id="new">
    <form action="/animals" method="post" id="space">
        <div>
            <input type="text" id="name" name="name" placeholder="Name" required>
        </div>
        <div>
            <input type="text" id="type" name="type" placeholder="Species" required>
        </div>
        <div>
            <input type="text" id="dob" name="dob" placeholder="DOB" required>
        </div>
        <div>
            <select id="owner" name="owner">
            <option hidden selected disabled value="">Owner</option>
            {% for owner in all_owners %}
            <option value="{{owner.id}}">{{owner.name}}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <select id="vet" name="vet">
            <option value="" hidden disabled selected>Vet</option>
            {% for vet in all_vets %}
            <option value="{{vet.id}}">{{vet.name}}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit">Add Patient</button>
    </form>
</section>

{% endblock %}