{% extends "base.html" %}

{% block content %}
<ul>
    <a href="/owners/new"><button>Register New Owner</button></a>
    <a href="/animals/new"><button>Registered Owners: Register New Patient</button></a>
</ul>
    <h2>Owner Records:</h2>
    {% for owner in all_owners %}
        <h4>{{owner.name}}</h4>
            <div>
                <form  action="/owners/{{owner.id}}" method="get">
                    <button class="trash-button">View</button>
                </form>
                <form  action="/owners/{{owner.id}}/edit" method="post">
                    <button class="trash-button">Edit</button>
                </form>
                <form  action="/owners/{{owner.id}}/delete" method="post">
                    <button class="trash-button">Delete</button>
                </form>
            </div>
<hr width="475;"
    align="left">
    {% endfor %}
{% endblock %}