{% extends "base.html" %}

{% block content %}
<ul id="top">
    <a href="/owners/new"><button id="button">Register Owner</button></a>
    <a href="/animals/new"><button id="button">Register Patient</button></a>
</ul>
    <h2 class="title">Owner Records</h2>
    {% for owner in all_owners %}
        <h4>{{owner.name}}</h4>
            <div id="row">
                <form  action="/owners/{{owner.id}}" method="get">
                    <button id="gbutton">View</button>
                </form>
                <form  action="/owners/{{owner.id}}/edit" method="post">
                    <button id="gbutton">Edit</button>
                </form>
                <form  action="/owners/{{owner.id}}/delete" method="post">
                    <button id="gbutton">Delete</button>
                </form>
            </div>
<hr width="475;"
    align="left">
    {% endfor %}
{% endblock %}