{% extends "base.html" %}
{% block content %}
<section id="new">
  <form action="/owners" method="post" id="space">
    <div>
      <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>
    <div>
      <input type="text" id="contact" name="contact" placeholder="Telephone Number" required>
    </div>
    <div>
      <input type="text" id="address" name="address" placeholder="Address" required>
    </div>
    <button type="submit" id="gbutton"S>Register New Owner</button>
  </form>
</section>
  {% endblock %}