<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>My Pet List</title>
</head>
<body>
    <header id="header">
        <nav>
            <ul>
                <a href="/"><button>Home</button></a>
                <a href="/owners"><button>Owner Records</button></a>
                <a href="/animals"><button>Patient Records</button></a>
                <a href="/employees"><button>Employee Records</button></a>
                <a href="/allergies"><button>Allergy DataBase</button></a>
            </ul>
        </nav>
    </header>
    <main>
    {%  block content %}

    {%  endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>