

{% extends "base.html" %}

{% block content %}
<section>
    <form action="/medicals" method="post" id="space">
        <select id="animal" name="animal">
        {% for pet in all_animals %}
            <option value="{{ pet.id }}"
            {% if pet.id == pet.id %} selected="selected"{% endif %}>
            {{ pet.name }}
            </option>
        {% endfor %}
        </select>
        <div>
            <input contenteditable="true" type="text" name="description" placeholder="Medical Notes" required />
        <button type="submit">Update</button>
        </div>
    </form>
    
</section>

{% endblock %}